.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.container {
    background-image: url("./assets/lightningBackground.jpg");
    background-attachment: scroll;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (max-width:1025px) {
        background-position: center center;

    }
}

.static-container {
    margin: 0 auto;
    width: 100vw;
    height: fit-content;
}