@font-face {
    font-family: "Ibarra";
    src: url("fonts/IbarraRealNova-Bold.ttf");
}


.popup__container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__item {
    padding: 1em 0;
    width: 500px;
    min-height: 300px;
    height: max-content;
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(44, 44, 96), rgb(154, 138, 213));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup__header {
    font-family: "Ibarra";
    font-size: 22px;
    color: #000000;

}


.popup__input {
    border-width: 0;
    text-indent: 20px;
    width: 75%;
    height: 30px;
    margin: 5px 0 5px 0;

    &:active {
        border-radius: 0;
    }

}

.popup__submit-button {
    width: 60%;
    height: 60px;
    margin: 25px 0 0 0;
    background-color: #aaa3d9;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ibarra";
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
}

.close {
    width: 20px;
    height: 30px;
}

.popup__close-button {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5% 1% 0 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @media (max-width:420px) {
        width: 40px;
        height: 40px;
        margin: 5% 1% 0 0;
    }

    @media (min-width:421px) and (max-width:628px) {
        width: 40px;
        height: 40px;
        margin: 5% 1% 0 0;
    }

    @media (min-width:629px) and (max-width:1025px) {
        margin: 5% 1% 0 0;
        width: 38px;
        height: 38px;

    }
}

.popup__close-button_icon {
    height: 70%;
}

.gif__container {
    width: 50%
}

.gif__picture {
    width: 100%;
}