.container{
    background-image: url("./../assets/lightningBackground.jpg");
    background-attachment: scroll;
    width: 100vw;
    min-height:100vh;
    height: max-content;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @media (max-width:1025px) {
        background-position: center center;

    }
}
.static-container{
    margin: 0 auto;
    width: 100vw;
    height: fit-content;
}