@font-face {
    font-family: "Ibarra";
    src: url("fonts/IbarraRealNova-Bold.ttf");
}
@font-face {
    font-family: "Ibarra hover";
    src: url("fonts/IbarraRealNova-Italic.ttf");
}

.dropdown-height{
    min-height: fit-content;
    transition: height 3s ease;
}
.dropdown-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.dropdown-item{
margin: 0 0 10px 0;
color: white;
font-family: "Ibarra";
font-size: 1.7rem;
list-style:none;
text-transform: uppercase;
cursor: pointer;
transition: font-family 5s ease;
&:hover{
    font-family: "Ibarra hover";
    }
}

