.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.container {
  background-image: url("./assets/lightningBackground.jpg");
  background-attachment: scroll;
  width: 100%;
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1025px) {
  .container {
    background-position: center center;
  }
}

.static-container {
  margin: 0 auto;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cairo__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 1000px);
  text-shadow: 0 0 50px #989494;
  margin-left: 2vw;
  margin-bottom: 10px;
  font-family: Ibarra;
  font-size: 1.5rem;
  text-transform: lowercase;
}

@media (max-width: 420px) {
  .cairo__description {
    width: calc(100vw - 10px);
    font-size: 1.1rem;
    text-shadow: 0 0 20px #989494;
  }
}

@media (min-width: 421px) and (max-width: 628px) {
  .cairo__description {
    text-shadow: 0 0 20px #989494;
    width: calc(100% - 100px);
    font-size: 1.2rem;
  }
}

@media (min-width: 629px) and (max-width: 1025px) {
  .cairo__description {
    text-shadow: 0 0 50px #989494;
    width: calc(100% - 300px);
  }
}

.dropdown_height {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  -webkit-transition: height 3s ease;
  transition: height 3s ease;
}

.dropdown__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dropdown__item {
  margin: 0 0 10px 0;
  color: white;
  font-family: "Ibarra";
  font-size: 1.7rem;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: font-family 5s ease;
  transition: font-family 5s ease;
}

.dropdown__item:hover {
  font-family: "Ibarra hover";
}

.cairo__container {
  width: 25%;
  height: 25%;
  margin-top: 30vh;
  position: absolute;
}

@media (max-width: 420px) {
  .cairo__container {
    margin-top: 20vh;
    width: 85vw;
  }
}

@media (min-width: 421px) and (max-width: 628px) {
  .cairo__container {
    margin-top: 20vh;
    width: 65vw;
  }
}

@media (min-width: 629px) and (max-width: 1025px) {
  .cairo__container {
    margin-top: 20vh;
    width: 35vw;
  }
}

.cairo__lightning {
  width: 100%;
  -webkit-animation: lightning 3s linear;
          animation: lightning 3s linear;
  opacity: 1;
}

@-webkit-keyframes lightning {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lightning {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.cairoText {
  margin-top: 40vh;
  font-family: "Loveluy";
  color: aliceblue;
  font-size: 80px;
  z-index: 2;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 420px) {
  .cairoText {
    margin-top: 30vh;
    font-size: 60px;
  }
}

@media (min-width: 629px) and (max-width: 1025px) {
  .cairoText {
    margin-top: 30vh;
  }
}

@font-face {
  font-family: "Ibarra";
  src: url("fonts/IbarraRealNova-Bold.ttf");
}

.popup__container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__item {
  padding: 1em 0;
  width: 500px;
  min-height: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2c2c60), to(#9a8ad5));
  background-image: linear-gradient(to bottom right, #2c2c60, #9a8ad5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__header {
  font-family: "Ibarra";
  font-size: 22px;
  color: #000000;
}

.popup__input {
  border-width: 0;
  text-indent: 20px;
  width: 75%;
  height: 30px;
  margin: 5px 0 5px 0;
}

.popup__input:active {
  border-radius: 0;
}

.popup__submit-button {
  width: 60%;
  height: 60px;
  margin: 25px 0 0 0;
  background-color: #aaa3d9;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Ibarra";
  text-transform: uppercase;
  font-size: 22px;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 30px;
}

.popup__close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5% 1% 0 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .popup__close-button {
    width: 40px;
    height: 40px;
    margin: 5% 1% 0 0;
  }
}

@media (min-width: 421px) and (max-width: 628px) {
  .popup__close-button {
    width: 40px;
    height: 40px;
    margin: 5% 1% 0 0;
  }
}

@media (min-width: 629px) and (max-width: 1025px) {
  .popup__close-button {
    margin: 5% 1% 0 0;
    width: 38px;
    height: 38px;
  }
}

.popup__close-button_icon {
  height: 70%;
}

.gif__container {
  width: 50%;
}

.gif__picture {
  width: 100%;
}

@font-face {
  font-family: "Ibarra";
  src: url("fonts/IbarraRealNova-Bold.ttf");
}

@font-face {
  font-family: "Loveluy";
  src: url("fonts/UnifrakturMaguntia-Regular.ttf");
}

.merch__wrapper {
  margin-top: 10vh;
  width: 100%;
  background-size: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.merch__container {
  width: 100%;
  margin-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .merch__container {
    background-position: center center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.merch__main-text {
  font-family: "Loveluy";
  color: aliceblue;
  font-size: 80px;
  z-index: 2;
  margin-top: 10vh;
  margin-bottom: 2vh;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 420px) {
  .merch__main-text {
    margin-top: 30vh;
    font-size: 60px;
  }
}

@media (min-width: 629px) and (max-width: 1025px) {
  .merch__main-text {
    margin-top: 30vh;
  }
}

.merch__item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(157, 154, 154, 0.5);
  margin: 10px;
  width: 20%;
  height: 28em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 420px) {
  .merch__item {
    width: 20em;
  }
}

@media (min-width: 421px) and (max-width: 628px) {
  .merch__item {
    width: 20em;
  }
}

@media (min-width: 629px) and (max-width: 1023px) {
  .merch__item {
    width: 20em;
    margin: 5px;
  }
}

.merch__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.merch__item-text {
  font-family: "Ibarra";
  color: black;
  font-size: 24px;
}

.merch__item-image_container {
  height: 70%;
  width: 90%;
  overflow: hidden;
  background-color: white;
}

.merch__item-image {
  width: 100%;
}

.merch__back-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 1em;
  font-family: "Ibarra";
  color: #707070;
  font-size: 24px;
  cursor: pointer;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.merch__back-button:hover {
  text-decoration: underline;
}

.MerchPurchaseButton {
  color: black;
  margin-left: 3px;
  font-family: "Ibarra";
  font-size: 24px;
  cursor: pointer;
  text-transform: uppercase;
}

.MerchPurchaseButton:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Ibarra";
  src: url("./fonts/IbarraRealNova-Bold.ttf");
}

@font-face {
  font-family: "Ibarra hover";
  src: url("fonts/IbarraRealNova-Italic.ttf");
}

@font-face {
  font-family: "Unifraktur";
  src: url("./fonts/UnifrakturMaguntia-Regular.ttf");
}
